p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
iframe{
  display: block;
  margin: 10px auto 10px auto;
  border: 1px solid #e4e4e4;border-radius: 4px;
}
table.centered {
  width: auto !important;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  opacity: unset !important;
}

blockquote .definition, blockquote .theorem {
  background-color: lightblue;
  padding-left: 15px;
  margin-left: -15px;
}